body {
    margin: 0;
    background: #FFFFFF;
    font-family: Sans-Serif;
    color: #212121;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #212121;
}

#top {
    height: 100px;
    background: #4CAF50;
}

#top a {
    text-decoration: none;
    color: #FFFFFF;
}

#top, #content, #tail {
    padding: 10px;
}

.post {
    background: #C8E6C9;
    border-radius: 1%;
    padding: 20px;
    margin-bottom: 5px;
}
.helloUser {
    float: right;
    display: inline;
}

.loginLink {
    float: right;
}
